#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thisMonth {
  font-size: 10rem;
  margin-bottom: 1rem;
  
}
.cal_table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}